@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
	src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
	url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'),
	url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro Italic';
	src: url('../fonts/MyriadPro-It/MyriadPro-It.eot');
	src: url('../fonts/MyriadPro-It/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-It/MyriadPro-It.woff') format('woff'),
	url('../fonts/MyriadPro-It/MyriadPro-It.woff2') format('woff2'),
	url('../fonts/MyriadPro-It/MyriadPro-It.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro Regular';
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
	url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}